body {
    background-color: #364049; /* cleaner hospital look */
    background-image: url(black.jpg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
.navbar-nav .nav-link {
    transition: 0.3s;
}
.navbar-nav .nav-link:hover {
    color: #ffc107;
}
.doctor-img {
    height: 250px;
    object-fit: cover;
}
.card {
    background-color: rgba(60, 63, 65, 0.9); /* dark glass look */
    color: #ffffff;
    border: none;
    border-radius: 12px;
    transition: 0.3s;
}
.card:hover {
    transform: translateY(-8px);
    background-color: rgb(149, 149, 149);
}
img {
    border: none;
    border-radius: 0;
}
footer {
    background-color: #212529;
    color: white;
    text-align: bottom;
    padding: 15px;
    position: relative; /* FIXED */
}
p {
    font-size: 1em;
}
